{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	
		
		<div>
			<h1>Rango is about ...</h1>
			Rango says here is the about page.
		
			This tutorial has been put together by Kara Newlands. <br />
		</div>
		
		<div>
			<p> Visits: {{ visits }} times </p>
		
	
			<img src="{{MEDIA_URL}}cat.jpg" height="400px" width="400px" +alt="Picture of a cat" /> 
			<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" height="400px" width="600px" /><!-- New line -->
		</div>
{% endblock %}









<
